<section id="todoapp">

  <header id="header">
    <h1>tarefas</h1>

    <form method="post">
      <input id="new-todo"
             placeholder="O que você precisa fazer?"
             name="tarefa"
             autofocus
             required>
    </form>
  </header>

  <section id="main">
    <ul id="todo-list">
      
      <% for tarefa in @tarefas %>
      <li class="<%= 'completed' if tarefa.concluida? %>">
        <div class="view">
          <a href="#"
             class="toggle"
             data-method="patch"></a>

          <label><%= tarefa.titulo %></label>

          <a href="#" 
             data-method="delete"
             data-confirm="Tem Certeza?"
             class="destroy"></a>
        </div>
      </li>
      <% end %>

    </ul>
  </section>
  
  <footer id="footer">
    <span id="todo-count">
      <%= @tarefas.count %> tarefas
    </span>
    
    <ul id="filters">
      <li>
        <a class="selected"
           href="#">
              Todas
        </a>
      </li>

      <li>
        <a class=""
            href="#">
              Ativas
        </a>
      </li>

      <li>
        <a class=""
           href="#">
              Concluídas
        </a>
      </li>
    </ul>

    <a id="clear-completed"
       href="#"
       data-method="delete"
       data-confirm="Tem Certeza?">
          Excluir Tarefas Concluídas
    </a>
  </footer>
</section>
